# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.pkl
build/
dist/
*.spec

# Electron Build outputs & Archives
*.zip
electron_app_py/dist/
electron_app/dist/

# PPT Result outputs
pptx_template/output.pptx
pptx_template/test_*.pptx

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/